.day-nav-container{
    padding-top: 12%;
    padding-bottom: 10%;
}

.food-view-container{
    width: 100%;
    height: 78%;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;;
}