<ion-content>
    <div class="header">
        <ion-icon name="person-circle-outline"></ion-icon>
        <h2 class="title">Change Password</h2>
    </div>

    <form class="change-password-form">
        <div class="fields">
            <div class="field email-field">
                <text-input-field icon="mail-outline" placeholder="E-mail" type="email" (keyup)="setEmail($event)"></text-input-field>
            </div>
            <div class="field password-field">
                <password-input-field placeholder="Password" (keyup)="setPassword($event)"></password-input-field>
            </div>
            <div class="field password-field">
                <password-input-field placeholder="Repeat Password" (keyup)="setRepeatPassword($event)"></password-input-field>
            </div>
        </div>
    </form>
</ion-content>