ion-content{
    --ion-background-color:#E5E5E5;
}
.header{
    padding-top: 90px;
    padding-bottom: 5%;
    padding-left: 8%;
}

.fields{
    padding-left: 8%;
    padding-right: 10%;
}

.field{
    padding-bottom: 20px;
    align-content: center;
}

.fieldError{
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    color: crimson;
}

.logo{
    width: 90px;
    height: 100px;
    position: absolute;
}

.title{
    padding-top: 16px;
    padding-left: 25%;
    font-family: Roboto;
    font-weight: bold;
    font-style: normal;
    text-align: left;
    font-size: 42px;
    line-height: 68px;
    letter-spacing: 0em;

    color: #000000;
}

.fields, .submit-button{
    font-family: Roboto;
    font-style: normal;

    color: #000000;
}

.redirect{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;;

}
.redirect-button{
    font-weight: normal;
}
.submit{
    width: min-content;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

.submit-button{
    font-weight: bold;
    text-align: left;
    font-size: 48px;
    height: 80px;

}

ion-icon{
    width: 200px;
    height: 200px;
}

